##################
# finder per vim #
##################
find

##########################
# file spazzatura di vim #
##########################
*.swp

#########################
# il cazzo di .DS_Store #
#########################
.DS_Store

#####################
# la roba compilata #
#####################
bin
minishell

##################
# il file stesso #
##################
#.gitignore
